beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
coala-utils==0.5.1
colorama==0.4.1
custom-package==0.0.1
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.9
Django==2.2.21
ekphrasis==0.5.1
elasticsearch==6.3.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz
ftfy==5.5.1
idna==2.8
kiwisolver==1.0.1
lxml==4.6.3
matplotlib==3.0.2
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
nltk==3.4.5
numpy==1.16.1
pandas==0.24.2
Pillow==8.1.1
plac==0.9.6
preshed==2.0.1
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
regex==2018.1.10
requests==2.21.0
scikit-learn==0.20.3
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
soupsieve==1.7.3
spacy==2.0.18
termcolor==1.1.0
thinc==6.12.1
toolz==0.9.0
tqdm==4.31.0
twitterscraper==0.9.3
ujson==1.35
urllib3==1.26.5
wcwidth==0.1.7
wrapt==1.10.11
xgboost==0.82
