<footer class="page-footer" style="padding:0">
    <div class="footer-copyright" style="background-color:#0084b4">
        <div style="margin-left:1em;">
            Powered by:
            <a href="https://www.elastic.co/products/elasticsearch" style="color:white; margin-left:5px"> Elasticsearch |</a>
            <a href="http://www.searchly.com/" style="color:white"> Searchly |</a>
            <a href="https://github.com/taspinar/twitterscraper" style="color:white"> TwitterScraper |</a>
            <a href="https://www.djangoproject.com/" style="color:white"> Django |</a>
            <a href="https://materializecss.com/" style="color:white"> Materialize CSS</a>
        </div>
        <div class="container" style="text-align:right; margin-right:1em">
            CZ4034 - Information Retrieval AY2018-19 Semester 2 - Group 1
        </div>
    </div>
</footer>