<!--Input widget with search box -->
<div class="row container" style="margin-bottom:10px">
    <form enctype="multipart/form-data" action="" method="post" class="col s12">
    {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                <input id="input_text" style="margin-bottom:0" type="text"
                       placeholder="Type a keyword..."
                       name="text_input">

                <button type="submit" style="position:absolute; top:.5rem; right:1.25rem" class="btn-flat" onclick="displayElem('loading', true)">
                    <i class="material-icons">subdirectory_arrow_left</i>
                </button>

                <div id="loading" class="progress" style="margin:0; display:none"><div class="indeterminate"></div></div>
            </div>

            <!--<div id="input_toolbar" class="switch col s12 valign-wrapper">-->
            <!--</div>-->
        </div>
    </form>
</div>
