<script>
    var query = "{{ query }}";
    var total_pages = Math.ceil({{ total_results }} / 50);
    var search_ids = new Array(total_pages);

    var curr_page = 0;
    search_ids[0] = null;
    search_ids[1] = {{ search_after }};

    function update_table(is_forward) {
        if (is_forward == true) {
            curr_page += 1;
        } else {
            curr_page -= 1;
        }

        if (curr_page == total_pages - 1) {
            $(".next").addClass("disabled");
        } else {
            $(".next").removeClass("disabled");
        }

        if (curr_page == 0) {
            $(".prev").addClass("disabled");
        } else {
            $(".prev").removeClass("disabled");
        }

        $.ajaxSetup({
            headers: { "X-CSRFToken": Cookies.get("csrftoken") }
        });

        $.ajax({
            method: "POST",
            url: "/get_page/",
            data: {"query": query, "search_after": search_ids[curr_page]},
            success: function(data) {
                search_ids[curr_page + 1] = data["search_after"];

                $("tbody").empty();
                $.each(data["tweets"], function (index, value) {
                    var username = value.username;
                    var timestamp = value.timestamp;
                    var url = value.url;
                    var content = value.content;
                    var num_reply = value.num_reply;
                    var num_retweet = value.num_retweet
                    var num_like = value.num_like
                    $("tbody").append(
                       "<tr>" +
                       "<td>" + username + "</td>" +
                       "<td><a href=\"https://twitter.com/" + url + "\">" + timestamp + "</a></td>" +
                       "<td>" + content + "</td>" +
                       "<td>" + num_reply + "</td>" +
                       "<td>" + num_retweet + "</td>" +
                       "<td>" + num_like + "</td>" +
                       "</tr>"
                    )
                })
            }
        })
    };
</script>

{% if tweets %}
    <!--tool bar-->
    <div class="container">
        <div style="position: relative; bottom: 35px; color: #777">
            <i>{{ total_results }} results in {{ time_taken }} seconds</i>
        </div>
        <div>
            <a class="waves-effect waves-light btn-small prev disabled" onclick="update_table(false)">Prev</a>
            <a class="waves-effect waves-light btn-small next" style="float: right" onclick="update_table(true)">Next</a>
        </div>
    </div>

    <div class="container">
        <table class="highlight responsive-table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Timestamp</th>
                    <th>Content</th>
                    <th>Replies</th>
                    <th>Retweets</th>
                    <th>Likes</th>
                </tr>
            </thead>
            <tbody>
                {% for tweet in tweets %}
                    <tr>
                        <td>{{ tweet.username }}</td>
                        <td><a href="https://twitter.com/{{ tweet.url }}">{{ tweet.timestamp }}</a></td>
                        <td>{{ tweet.content }}</td>
                        <td>{{ tweet.num_reply }}</td>
                        <td>{{ tweet.num_retweet }}</td>
                        <td>{{ tweet.num_like }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div style="padding:20px 0 20px 0">
            <a class="waves-effect waves-light btn-small prev disabled" onclick="update_table(false)">Prev</a>
            <a class="waves-effect waves-light btn-small next" style="float: right" onclick="update_table(true)">Next</a>
        </div>
    </div>
{% endif %}
